body{
  margin:0;
  font-family:Arial;
  background:#f2f2f2;
  text-align:center;
}

header{
  background:#4CAF50;
  color:white;
  padding:20px;
}

.box{
  background:white;
  margin:20px;
  padding:20px;
  border-radius:15px;
}

.btn{
  display:inline-block;
  background:#2196F3;
  color:white;
  padding:10px 20px;
  text-decoration:none;
  border-radius:8px;
}
