body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f4f6f8;   /* soft grey */
  text-align:center;
  color:#333;
}

header{
  background:#1f3c88; 
  color:white;
  padding:20px;
}

.box{
  background:#ffffff;
  margin:20px;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.btn{
  display:inline-block;
  background:#2563eb; 
  color:white;
  padding:10px 22px;
  text-decoration:none;
  border-radius:8px;
  font-weight:500;
  transition:0.3s;
}

.btn:hover{
  background:#1e40af;
  transform:scale(1.05);
}

.focus-search {
  width: 60%;
  display: block;
  margin: 30px auto;
  padding: 14px;
  font-size: 16px;
  border: 2px solid #d1d5db;
  border-radius: 10px;
  transition: 0.3s;
}

.focus-search:focus {
  border-color: #2563eb;
  box-shadow: 0 0 8px rgba(37,99,235,0.4);
  transform: scale(1.02);
  outline:none;
}
